In [4]:
import numpy as np
import pandas as pd

import math
import statistics
import scipy.stats

### CENTRAL TENDENCIES

In [8]:
data = pd.read_csv('/Users/dearishanti/Desktop/hacktiv/H8_4/nyc-rolling-sales.csv', index_col=0)
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [19]:
df.describe()

,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485
std,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000
50%,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000
75%,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000
max,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000

In [9]:
value=data.iloc[:,0:1].astype('float64')
weight=data.iloc[:,1:2]

#### MEAN

In [10]:
def mean_impl(data):
  data=np.asarray(data).flatten()
  total=0
  for x in data:
    total=total+x
  return total/len(data)

In [11]:
mean_impl(value)

2.9987581019066094

#### WEIGHTED MEAN

#### GEOMETRIC MEAN

#### HARMONIC MEAN

#### MEDIAN

In [12]:
def median_impl(data):
  data=np.asarray(data)
  data=np.sort(data, axis=None)
  i=len(data)//2
  if len(data)%2==0:
    return (data[i]+data[i+1])/2
  else:
    return data[i]

In [13]:
median_impl(value)

3.0

#### MODE

In [17]:
from collections import Counter
def Mode_impl(data):
  p=np.asarray(data).flatten()
  arr=Counter(p)
  value=[]
  for key, value1 in arr.items():
    if value1==max(arr.values()):
      value.append(key)
  return value

In [18]:
for x in Mode_impl(value):
    print(x)

4.0